# Default reviewers for all pull requests

* @todayscarolinian-dev @elderfieldzeus @npeteros

# Herald Core → assign Core Project Lead

/apps/core/ @alphas12

# Herald Auth → assign Auth Project Lead

/apps/auth/ @alessaaandraaa @formesean
