NODE_ENV=development
BETTER_AUTH_URL=http://localhost:3001

# BetterAuth
BETTER_AUTH_SECRET=your-secret-key-here-min-32-chars

# Firestore
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Resend
RESEND_API_KEY=re_your_api_key

# CORS
ALLOWED_ORIGINS=http://localhost:3000