NODE_ENV=development

# Herald Auth API
NEXT_PUBLIC_AUTH_URL=http://localhost:3001

# Herald Core API
NEXT_PUBLIC_CORE_URL=http://localhost:3000
HERALD_CORE_URL=http://localhost:3000

# BetterAuth
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=http://localhost:3001

# Firebase
FIREBASE_PROJECT_ID=""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_PRIVATE_KEY=""

# GOOGLE OAUTH
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Resend
RESEND_API_KEY=""

HERALD_INTERNAL_API_KEY=""